.App {
  text-align: center;
}
.featured,
.cycling,
.armoury,
.aquatics,
.extreme,
.equestrain,
.lakeSea,
.golf,
.gymnastics {
  background-color: grey;
  border-radius: 100%;
  padding: 12px;
  color: white;
}
